{% extends 'base.html' %}
{% load highlight %}

{% block main %}
    {% if query %}
        {% for result in page.object_list %}
            <article class="post post-{{ result.object.pk }}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{{ result.object.get_absolute_url }}">{% highlight result.object.title with query %}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="{% url 'blog:category' result.object.category.pk %}">{{ result.object.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                datetime="{{ result.object.created_time }}">{{ result.object.created_time }}</time></a></span>
                            <span class="post-author"><a href="#">{{ result.object.author }}</a></span>
                            <span class="comments-link"><a href="{{ result.object.get_absolute_url }}#comment-area">{{ result.object.comment_set.count }} 评论</a></span>
                            <span class="views-count"><a href="{{ result.object.get_absolute_url }}">{{ result.object.views }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <!--p标签显示的摘要-->
                        <p>{% highlight result.object.excerpt with query %}</p>
                        <div class="read-more cl-effect-14">
                            <a href="{{ result.object.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                {% empty %}
                    <div class="no-post">没有搜索到你想要的结果！</div>
                {% endfor %}
                 <!--使用ListView自带的分页-->
                {% if is_paginated %}
                <div class="pagination-simple">
                    <!-- 如果当前页还有上一页，则显示"上一页"按钮-->
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
                    {% endif %}
                    <!-- 显示当前页面信息 -->
                    <span class="current">第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span>
                    <!-- 如果当前页还有下一页，则显示"下一页"按钮 -->
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                    {% endif %}
                </div>
                {% endif %}
    {% else %}
        请输入搜索关键字，例如 Django
    {% endif %}
{% endblock main %}
